<div class="uviews" id="u_device" v-if="show" :transition="transitionName">
    <com-utopbar v-ref:utopbar title="设备管理"></com-utopbar>
    <div class="wrapper" id="u_device_list">
        <div class="am-container">
            <template v-if="list">
                <template v-for="value in list">
                    <div class="device-box">
                        <div class="am-g device-info">
                            <div class="am-u-sm-6">
                                <div class="type"><label>设备：</label><span>{{value.devicecategoryname}}</span></div>
                                <div class="type"><label>型号：</label><span>{{value.model}}</span></div>
                                <div class="time"><label>安装时间：</label><span>{{value.installtime}}</span></div>
                            </div>
                            <div class="am-u-sm-6 right">
                                <div class="type"><label>品牌：</label><span>{{value.ingredientname}}</span></div>
                                <div class="type"><label>类型：</label><span>{{value.categoryname}}</span></div>
                                <div class="time"><label>使用年限：</label><span>{{value.useage}}</span></div>
                            </div>
                        </div>
                        <div class="more-details"><a v-on:click="goinfo(value.id)">查看详情 <i class="am-icon-cx-5"></i></a></div>
                    </div>
                </template>
            </template>
        </div>
    </div>
    <div id="add_device"v-on:click="newDevice">添加新设备</div>
</div>