<div class="uviews" id="u_r_i" v-if="show" :transition="transitionName">
    <!--header-->
    <img src="../../assets/imgs/shareimg.jpg" alt=""style="width:0;height:0;position:absolute">
    <div class="am-g ui-border-b" id="uheadtop">
        <div class="am-u-sm-2"><a id="backBtn" v-on:click="goBack"><i class="am-icon-cx-77"></i></a></div>
        <div class="am-u-sm-8 utopTit">服务报告</div>
        <div class="am-u-sm-2"><a id="msgBtn" v-on:click="share"><i class="am-icon-cx-78"></i></a></div>
    </div>
    <div class="wrapper" id="u_r_i_m">
        <div>
            <div class="base">
                <div class="title ui-border-b">{{servicename}}</div>
                <div class="am-g details ui-border-b">
                    <div class="am-u-sm-6">
                        <div><label for="">设备：</label>{{devicecategoryname}}</div>
                        <div><label for="">型号：</label>{{model}}</div>
                        <div><label for="">安装时间：</label>{{installtime}}</div>
                    </div>
                    <div class="am-u-sm-6">
                        <div><label for="">品牌：</label>{{categoryname}}</div>
                        <div><label for="">类型：</label>双开门</div>
                        <div><label for="">使用年限：</label>{{useage}}</div>
                    </div>
                </div>
            </div>
            <div class="img">
                <div class="title am-g ui-border-b">
                    <div class="am-u-sm-6">服务前图片</div>
                    <div class="am-u-sm-6">服务后图片</div>
                </div>
                <div class="img-list">
                    <template v-for="value in listbefore">
                        <div class="am-g">
                            <div class="am-u-sm-6">
                                <div class="before">
                                    <div class="img-border">
                                        <img :src="listbefore[$index].imgurl" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-6">
                                <div class="after">
                                    <div class="img-border">
                                        <img :src="listafter[$index].imgurl" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <div class="rep">
                <div class="list am-g ui-border-b">
                    <div class="am-u-sm-6 ">服务建议：</div>
                    <div class="am-u-sm-6 right ">{{recommend}}</div>
                </div>
                <div class="list am-g ui-border-b ">
                    <div class="am-u-sm-6 ">备注：</div>
                    <div class="am-u-sm-6 right ">{{testresult}}</div>
                </div>
            </div>
        </div>
    </div>
</div>