<div id="m-main" v-if="show" :transition="transitionName">
	<!--顶部内容-->
	<!--发现顶部搜索条-->
	<div class="am-g m-serch">
	    <div class="am-u-sm-2 head-left">
	        <a v-on:click="clearSearchInfo()"><i class="am-icon-cx-45"></i></a>
	    </div>
	    
	    <div class="am-u-sm-4" v-on:click="productToggle(1)">
	        <a v-bind:class="{'active':isService}" class="goods" data-id><span>服务</span></a>
	    </div>
	    <div class="am-u-sm-4" v-on:click="productToggle(0)">
	        <a v-bind:class="{'active':isMall}" class="goods"><span>商城</span></a>
	    </div>
	    
	    <div class="am-u-sm-2 head-right">
	        <a v-on:click="toMsg">
		        <i class="am-icon-cx-46"></i>
		        <span v-if="logged" class="None act" v-bind:class="{ 'cxdot': new}"></span>
	        </a>
	    </div>
	</div>
	

	<!--End--顶部内容-->

	<div class="views wrapper discovery" id="wrapper">
		<!--发现首页-->
	    <div class="mViews" id="mViews">
			<div class="m-banner">
				<img v-if="isService" src="assets/imgs/servicebanner.jpg"/>
				<img v-if="isMall" src="assets/imgs/mallbanner.jpg"/>
			</div>
			<div id="m-category" class="am-g m-category">
			    <ul>
			        <li v-for="c in categories" track-by="$index" v-on:click="selectCategories(c.categoryid)">
			        	<div class="cate ui-border-r">
			        		{{{c.imgurl}}}
							<p>{{c.name}}</p>
			        	</div>
			        </li>
			    </ul>
		    </div>
	    
	        <div class="am-container" id="m_result">
	            <div id="m-result-pds">
	                <ul id="wf-main">
	                    <li v-for="s in list" track-by="$index" class="wf-cld">
	                        <div v-if="type == 1" class="m-product">
	                            <a class="pdimg" href="#mall/service/{{s.id}}"><img :src="s.imgurl"></a>
	                            <a href="#mall/service/{{s.id}}" class="pdname">{{s.name}}</a>
	                            <span v-if="s.minmemberprice != s.minoriginprice">
		                            <span v-if="s.minmemberprice == s.maxmemberprice" class="memberprice">￥{{s.minmemberprice}}</span>
		                            <span v-else class="memberprice">￥{{s.minmemberprice}}-{{s.maxmemberprice}}</span>
		                        </span>
		                        <span v-else>
		                        	<span v-if="s.minoriginprice == s.maxoriginprice" class="memberprice">￥{{s.minoriginprice}}</span>
		                            <span v-else class="memberprice">￥{{s.minoriginprice}}-{{s.maxoriginprice}}</span>
		                        </span>
	                            <a v-if="s.count" class="wishList"><i class="am-icon-cx-75"></i> {{s.count}}</a>
	                        </div>
	                        <div v-else class="m-product">
	                            <a class="pdimg" href="#mall/product/{{s.id}}"><img :src="s.imgurl"></a>
	                            <a href="#mall/product/{{s.id}}" class="pdname">{{s.name}}</a>
	                            <span v-if="s.memberprice != s.originprice" class="memberprice">￥{{s.memberprice}}</span>
	                            <span v-else class="memberprice">￥{{s.originprice}}</span>
	                            <span v-if="s.memberprice != s.originprice" class="marketprice">￥{{s.originprice}}</span>
	                        </div>
	                    </li>
	                    
	                </ul>
	            </div>
	            <div class="space100"></div>
	            <div class="space40"></div>
	        </div>
	    </div>
	</div>
</div>