<div id="m-main" v-if="show" :transition="transitionName">
             <!--顶部内容-->
            <!--商城顶部搜索条-->
            <div class="am-g m-serch">
                <div class="am-u-sm-1">
                    <a v-on:click="goBack"><i class="am-icon-cx-77"></i></a>
                </div>
                <div class="am-u-sm-3">
                </div>
                <div class="am-u-sm-8">
                    <a v-on:click.stop="share(name,id)"><i class="am-icon-cx-78"></i></a>
                    <a href="#buy"><i class="am-icon-cx-53"></i></a>
                    <i class="circle" v-if="islogged">{{cartCount}}</i>
                </div>
            </div>
            <!--End--顶部内容-->
            <!--主要内容------------------------- >-->

            <div class="m-detail views wrapper" id="m-detail-wrapper">
                <div class="mViews" id="mViews">
                <!--商城首页-->
                    <div id="m-detail-title" class="am-container service-title">
                        <div id="pdImgs" class="am-slider am-slider-default">
                            <ul class="am-slides">
                                <li v-for="img in imgsurl" track-by="$index">
                                   <a>
                                    <img :src="img" width="100%" class="simgs">
                                   </a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-service-pdName">
                            <span class="product-name">{{name}}</span>
                            
                            <div class="m-service-price">
                                <span class="line">/</span>
                                <span v-if="memberprice == originprice">
                                    <span class="price">￥{{memberprice}}</span>
                                </span>
                                <span v-else>
                                    <span class="price">￥{{memberprice}}</span>
                                    <span class="oldPrice">￥{{originprice}}</span>
                                </span>
                            </div>
                            <p class="subtitle">{{subtitle}}</p>
                            <p><i class="am-icon-cx-75"></i> {{servicecount}}</p>
                        </div>
                        <div class="m-service-item">
                            <ul>
                                <li v-for="s in servicemodellist" v-on:click="selectService($event,s.originprice,s.memberprice,s.id,s.name)">{{s.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <div v-if="promotioninfo" class="service-promotion" id="promotion">
                        <span class="promotionicon"><img src="assets/imgs/bg15.png"></span>
                        <span class="promotioninfo">{{promotioninfo}}</span>
                    </div>
                    <div class="m-detail-description">
                        <div class="content">{{{content}}}</div>
                    </div>
                    <div v-if="related" class="m-detail-relate">
                        <h2>搭配购买</h2>
                        <div class="relateprolist" v-if="relateprolist">
                            <div class="m-detail-price">
                                <p class="name">推荐商品</p>
                            </div>
                            <div v-for="p in relateprolist" class="item-select">
                                <a href="#mall/product/{{p.id}}">
                                    <img :src="p.imgurl" />
                                </a>
                                <a href="#mall/product/{{p.id}}">{{p.name}}</a>
                                <template v-if="p.memberprice == p.originprice">
                                    <p class="price">￥{{p.memberprice}}</p>
                                </template>
                                <template v-else>
                                    <span class="price">￥{{p.memberprice}}</span>
                                    <span class="oldPrice">￥{{p.originprice}}</span>
                                </template>
                            </div>
                        </div>
                        <div class="relateserlist" v-if="relateserlist">
                            <div class="m-detail-price">
                                <p class="name">推荐服务</p>
                            </div>
                            <div v-for="s in relateserlist" class="item-select">
                                <a href="#mall/service/{{s.id}}">
                                    <img :src="s.imgurl" />
                                </a>
                                <a href="#mall/service/{{s.id}}">{{s.name}}</a>
                                    <p v-if="s.price == s.maxprice" class="memberprice">￥{{s.price}}</p>
                                    <p v-else class="memberprice">￥{{s.price}}-{{s.maxprice}}</p>
                            </div>
                            <div class="space100"></div>
                            <div class="space40"></div>
                        </div>
                        
                    </div>
                    <div class="space100"></div>
                    <div class="space40"></div>
                </div>
            </div>
            <!--End--主要内容-------------------->
            <!--底部购买栏-->
            <div id="m-cart-bar">
                <div class="am-g">
                    <div class="am-u-sm-10">
                        <a class="cart-add" v-on:click="addCart(id,'cartroll')">
                            加入购物车
                        </a>
                    </div>
                    <div class="am-u-sm-2" v-on:click="addBuyInfo">
                       <a class="buy"><i class="am-icon-cx-79"></i></a>
                    </div>
                </div>
            </div>
            <!--End--底部导航-->
</div>