<div class="views" id="u_bdphone" v-if="show" :transition="transitionName">
    <com-utopbar v-ref:utopbar title="手机绑定"></com-utopbar>
    <div class="uviews bodybg1" id="u_bdpho">
        <div id="u_bdPho" class="">
            <div class="phoicon">
                <i class="am-icon-cx-84"></i>
            </div>
            <div class="phonum">
                <input type="number" v-model="phone" placeholder="请输入您的手机号码">{{value.ordernumber}}
            </div>
            <div class="bdnum"><a @click="upDataVad" class="upBtn">确认绑定</a></div>
        </div>
        <div class="am-g bdfooter">
            <div class="am-u-sm-2"><i class="am-icon-cx-84"></i></div>
            <div class="am-u-sm-6"><span>望厨</span>探索厨房美学</div>
            <div class="am-u-sm-4 bddownload"><a class="bddown">立即下载</a></div>
        </div>
    </div>
</div>
