<div class="am-page" id="uc-login" v-if="show" :transition="transitionName">
    <!--顶部内容-->
    <!--End--顶部内容-->
    <!--主要内容------------------------->
    <div class="views">
        <!--注册-->
        <div class="am-container" id="u_login">
            <!--返回条-->
            <div class="head-back">
                <div class="am-u-sm-1">
                    <a v-on:click="goBack()"><i class="am-icon-cx-77"></i></a>
                </div>
            </div>
            <!--返回条END-->
            <div class="u_login_bg">
                <img src="assets/imgs/ubg02.jpg">
            </div>
            <div class="am-containe" id="u_reg_main">
                <div class="am-tabs cx-tabs">
                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-active" id="tab1">
                            <form id="u_reg_form" class="am-form am-form-horizontal cx-form" >
                                <div class="am-form-group">
                                    <label for="doc-ipt-3" class="am-u-sm-1 am-form-label"><i class="am-icon-cx-84"></i></label>
                                    <div class="am-u-sm-6">
                                        <input type="number" id="phone" name="phone" v-model="phone" placeholder="请输入手机号码" maxlength="11" v-on:keyup="testPhone(phone)">
                                    </div>
                                    <div class="am-u-sm-5"><a v-on:click="upDataSendVad" class="takVad {{active}}" id="takVad">获取验证码</a></div>
                                </div>
                                <div class="am-form-group">
                                    <label for="doc-ipt-pwd-2" class="am-u-sm-1 am-form-label"><i class="am-icon-cx-85"></i></label>
                                    <div class="am-u-sm-11">
                                        <input type="number" id="code" name="code" value="" v-model="code" placeholder="六位手机短信验证码" v-on:focus="clear($event)" v-on:keyup="testCode(code)"/>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label for="doc-ipt-pwd-2" class="am-u-sm-1 am-form-label"><i class="am-icon-cx-85"></i></label>
                                    <div class="am-u-sm-10">
                                        <input type="{{type}}" id="pwd" name="pwd" v-model="pwd" placeholder="请输入6-18位新密码" v-on:keyup="testPassword(pwd)"/>
                                    </div>
                                    <div class="am-u-sm-1 am-form-label">
                                        <i v-on:click="showPwd" class="am-icon-cx-92 {{icon}}"></i>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-12">
                                        <a id="submit" class="am-btn am-btn-default cx-btn-sbmt {{resetActive}}" v-on:click="submit">确认</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End--主要内容-------------------->
</div>
